.App {
  text-align: center;
}

#background {
  background-color: paleTurquoise;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: GreenYellow;
  height: 90vh;
  width: 120vh;
  font-size: calc(10px + 2vmin);
  color: red;
}
