.App {
  text-align: center;
}

#background {
  background-color: paleTurquoise;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  position: relative;
  background-color: GreenYellow;
  height: 90vh;
  width: 120vh;
  font-size: calc(10px + 2vmin);
  color: red;
}

#text {
  border: solid gold 5px;
  height: 30vh;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
