.App {
  text-align: center;
}

#background {
  background-color: paleTurquoise;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

#page {
  position: relative;
  background-color: GreenYellow;
  height: 800px;
  width: 120vh;
  color: red;
}

#picture-location {
  height: 550px;
  background-color: red;
  width: 100%;
}

img {
  height: 550px;
  width: 100%;
}

#text {
  /*border: solid gold 5px;*/
  height: 250px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
